<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" type="text/css" url for (name='css/logi.css) href="css/style">
</head>

<body>
  <div class="login-form">
    <h2>Login</h2>
    <form method+"POST">
      <div
      class="form-group">
      <labelfor="email">Email</label>
      <input
      type="email" name="email"
      id="email" required>
    </div>
      <div
      class="form-group">
      <labelfor="password">Pasword</label>
      <input
      for="password" name="password"
      id="password" required>
  </div>
  <button
  type="submit">Login</button>
</form>
</div>
</body>
</html>

  <CENTER>
    <h1>simple login</h1>
    <label>error message</label><br>
    <label id="userlable" class="text - design">username:</label> <input type="text"><br>
    <lable id="passlable" class="text - design">password:</lable> <input type="text"><br>
    <a href="forgot">forgot password</a><br>
    <button class="button" type="button">login</button><br>
    <a href="register">Register Here</a>

</body>

</html>